:root{
  --theme-title-grad-start:#368dff;
  --theme-title-grad-end:#000ad3;
  --theme-primary:#000ad3;
  --theme-primary-hover:#00079c;
  --theme-table-bg:#d6ecff;
  --theme-row-selected:#a5cdee;
  --theme-focus-ring: rgba(0,10,211,.25);
}
