:root{
  --theme-title-grad-start:#a76ac6;
  --theme-title-grad-end:#6400a3;
  --theme-primary:#6400a3;
  --theme-primary-hover:#4d007b;
  --theme-table-bg:#faeeff;
  --theme-row-selected:#c594de;
  --theme-focus-ring: rgba(100,0,163,.25);
}
